---
import type { MarkdownInstance } from "astro";
import PostList from "../components/PostList.astro";
import MainLayout from "../layouts/MainLayout.astro";
import type { Frontmatter } from "../model";

const allPosts = await Astro.glob<MarkdownInstance<Frontmatter>>("./*/*.m*d*");
const indexPagePosts = allPosts
  .sort(
    (a, b) =>
      new Date(b.frontmatter.pubDate).valueOf() -
      new Date(a.frontmatter.pubDate).valueOf()
  )
  .slice(0, 5);
---

<MainLayout
  title="Home"
  description={`Welcome to GeoExamples, maps, javascript, python and more.`}
>
  <h1>Posts</h1>
  <PostList posts={indexPagePosts} />

  <h2><a href="/blog">Older posts</a></h2>
  <p class="rss-subscribe">
    subscribe <a href="http://feeds.feedburner.com/Geoexamples">via RSS</a>
  </p>
</MainLayout>
