@charset "utf-8";

@import url("//fonts.googleapis.com/css?family=Lato:300,300italic|Inconsolata");

// Our variables
$base-font-family: "Lato", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;


$grey-color:       #626262;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$green-color:      #7bac7b;
$green-color-light: lighten($green-color, 18%);
$green-color-dark:  darken($green-color, 18%);


$brand-color:      darken($green-color, 15%);
// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Table formating
table{
    thead{
        background-color: $green-color;
        th {
        }
    }
    tbody{
        tr:nth-of-type(even){
            background-color: $green-color-light;
        }
    }
}


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

