---
import BlockCard from "../../components/BlockCard.astro";
import indexData from "../../../public/blocks/rveciana/api_result.json";
import "../../components/blocks.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>rveciana's blocks</title>
  </head>
  <body>
    <header>
      <div class="column">
        <a class="user self">rveciana</a>'s blocks
        <div class="date">Updated November 9, 2016</div>
      </div>
    </header>
    <div class="column gists">
      {
        indexData.map((block) => (
          <BlockCard
            title={block.description}
            slug={block.slug}
            username="rveciana"
          />
        ))
      }
    </div>
  </body>
</html>
