---
layout: default
---

<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  <details>

    <p>Categories:
    {% for category in page.categories %}
    <a href="{{base_url}}/categories/{{category}}">{{category | downcase | slugize}}</a>{% if forloop.last == false %}, {% endif %}
    {% endfor %}</p>
    <p>Tags:
      {% for tag in page.tags %}
      <a href="{{base_url}}/tags/{{tag | downcase | slugize}}">{{tag}}</a>
        {% if forloop.last == false %}, {% endif %}
      {% endfor %}</p>


</details>
{% include comments.html %}


</div>
