---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import MainHead from "../components/MainHead.astro";
const { title, description, head } = Astro.props;
---

<html lang="en">
  <head>
    {head}
    <MainHead
      title={title ? `Geoexamples - ${title}` : "GeoExamples - Roger Veciana"}
      description={description}
    />
  </head>
  <body>
    <Header />
    <main tabindex="-1" class="main-content wrapper grid-container">
      <slot />
    </main>
    <Footer />
    <style>
      .main-content {
        padding: 20px;
      }
    </style>
  </body>
</html>
